     /* nav bar start  */

     .container{
        background-color: black;
        font-family: Arial, Helvetica, sans-serif;
        min-width: 170px;
    
    }
    .nav{
        background-color: black;
      
        margin: -8px 10px 0px 10px;
        list-style: none;
        
     
        
    }
    .links{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    
    }
    .links li a{
        font-size: 1em;
        color: silver;
        line-height: 3.5em;
        font-weight: bold;
        text-decoration: none;
        padding: 15px;
       
      
        
    }
    
    
    .links li a:hover{
        background-color: silver;
        color: black;
    
    
    }
    .index{
        background-color: gray;
        color: black;
    
    }
    .about{
        background-color: gray;
        color: black;
    
    }
    .AllAssignments{
        background-color: gray;
        color: black;
    
    }
    .SignIn{
        background-color: gray;
        color: black;
    
    }
    
             /* navbar complete */




             /* all assignments subnavbar start */


             .subnav{
                padding: 10px 0px 10px 0px;
                list-style: none;
                background-color:slategray ;
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 1em;
                min-width: 170px;
            }
            .subnav li a{
                text-decoration: none;
                color: black;
                font-weight: bold;
                padding: 10px;
                line-height: 30px;
            }
            .subnav li a:hover{
                background-color: black;
                color: whitesmoke;
               
            }
             
                      /* all assignments subnavbar end */



                       /* all assignmemts start */

                       .assignmentspics{
                        min-width: 165px;
                        padding-top: 10px;
                      background-color: whitesmoke;
                      width: 100%;
                      
                    }       
                    .olx{
                        background-color:whitesmoke;
                        display: flex;
                        justify-content: center;
                        flex-wrap: wrap;
                        background-color: whitesmoke;
                    } 
                    .assignmentpara{
                        
                        font-family: Arial, Helvetica, sans-serif;
                        font-size: 18px;
                        font-style: italic;
                        text-decoration: underline 0.5px red ;
                        margin: 30px 10px 20px 10px;
                        text-align: center;
                        
                    }
                    .assignmentspics img{
                        border-left: 1px  solid lightslategray;
                        
                        border-right: 1px  solid lightslategray;
                    }
                    
                    .heading{
                        background-color:wheat;
                        margin-top: 30px;
                        padding: 5px;
                        text-align: center;
                        color: dodgerblue;
                        font-family:Arial, Helvetica, sans-serif;
                    }
                    
                    .pokemon{
                      
                        background-color:whitesmoke;
                    } 
                    .facebook{
                        
                        background-color:whitesmoke;
                       
                    } 
                    .apple{
                        background-color:whitesmoke;
                       
                    }



                          /* all assignments end */





                           /* button start */


                           .button{
  
                            min-width: 100px;
                            background-color: rgb(12, 143, 196);
                            border: 1px solid rgb(12, 143, 196);
                            border-radius: 50px;
                            height: 20px;
                            font-size: 13px;
                            font-family: Arial, Helvetica, sans-serif;
                            font-weight: bold;
                            margin: 20px 0px 20px 0px;
                            text-align: center;
                            font-style: initial;
                            text-decoration: none;
                            padding: 20px 10px 20px 10px;
                            color: white;
                            display: inline-block;
                           
                        }
                        
                        .button:hover{
                            background-color: rgb(7, 112, 153);
                            box-shadow: 5px 7px 0.5px lightgray;
                        }
                        
                         /* button end */